* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0rem 0.4rem 0rem 0.4rem;
}

:root {
  --DarkViolet: hsl(256, 26%, 20%);
  --GrayishBlue: hsl(216, 30%, 68%);
  --VeryDarkViolet: hsl(270, 9%, 17%);
  --DarkGrayishViolet: hsl(273, 4%, 51%);
  --VeryLightGray: hsl(0, 0%, 98%);

  --heading: "DM Serif Display", serif;
  --body: "Karla", sans-serif;
}

html {
  font-size: 10px;
}

body {
  font-size: 1rem;
  font-family: var(--body);
  font-weight: 400;
}

h1 {
  font-family: var(--heading);
  font-weight: 400;
  font-size: 5rem;
}
h2 {
  font-family: var(--heading);
  font-weight: 400;
}
h3 {
  font-family: var(--heading);
  font-weight: 400;
}

/* hero section start */

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.nav-btn {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--VeryDarkViolet);
}

nav {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.p-btn {
  background-color: var(--VeryDarkViolet);
  color: var(--VeryLightGray);
  padding: 1rem 1.5rem 1rem 1.5rem;
  display: inline-block;
}

.hero-section {
  background-color: var(--DarkViolet);
}
.dherop2 {
  padding-top: 3.5rem;
  display: flex;
}

.dherop2 > * {
  flex-basis: 50%;
}

.hh1 {
  color: var(--VeryLightGray);
}

.hp1 {
  color: var(--VeryLightGray);
  margin-bottom: 1rem;
  width: 40rem;
}

.dp1 {
  text-decoration: none;
  color: black;
  background-color: var(--VeryLightGray);
}
